{
    "root": true,
    "extends": ["react-config-r13v"],

    "parserOptions": {
        "project": "tsconfig.json",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "jest": {
            "version": 26
        }
    },
    "rules": {
        "no-restricted-imports": [
            "error",
            {
                "patterns": [
                    {
                        "message": "do not import from sibling package",
                        "group":["../../**/src/"]
                    },
                    {
                        "message": "Do not import from Material-UI directly, use UI",
                        "group": ["@material-ui/*", "@mui/*"]
                    },
                    {
                        "message": "Do not import from @emotion directly, use UI",
                        "group": ["@emotion/*"]
                    }
                ]
            }
        ],
        "simple-import-sort/imports": [
            "warn",
            {
                "groups": [
                    [
                        "^\\u0000"
                    ],
                    [
                        "^react",
                        "^[^.]"
                    ],
                    [
                        "^src"
                    ],
                    [
                        "^\\."
                    ]
                ]
            }
        ],
        "@typescript-eslint/consistent-type-definitions": ["warn", "interface"],
        "@kyleshevlin/prefer-custom-hooks": "off",
        "react/react-in-jsx-scope": "off",
        "unicorn/prefer-object-from-entries": "off",
        "unicorn/prefer-module": "off",
        "unicorn/prefer-node-protocol": "off",
        "jest/expect-expect": "off",
        "jest/valid-title": "off",
        "unicorn/expiring-todo-comments": "off"
    },
    "overrides": [
        {
            "files": ["./src/ui/**/*.ts", "./src/ui/**/*.tsx"],
            "rules": {
                "no-restricted-imports": "off"
            }
        }
    ]
}
